.grids{
    font-size: larger;
    background-color: indianred;
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: 100px auto; 
}

.header{
    grid-column-start: 1;
    grid-column-end: 3;
    border: 2px black solid;
}

.aside{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    border: 2px black solid;
} 
.main{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    border: 2px black solid;
    text-align: center;
}
.ausgabe{
    border: 2px black solid;
}

.kasten {
    border-bottom: 4px black solid;
}
.name{
    padding-left: 150px;
}
.titel{
    padding-left: 150px;
}